@font-face {
    font-family: Alcubierre;
    src: url(Alcubierre.otf);
}
h1{
    text-align: center;
}
.nupud{
    text-align: right;
}
button:hover{
    font-weight: bold;
    color: azure;
    text-decoration: underline;
    background: rgb(119, 190, 190);
    border: 2px dashed rgb(18, 85, 90);
    cursor: pointer;
}
html{
    background-image: linear-gradient(azure, rgb(44, 141, 141));
    background-size:auto;
    min-height: 100%;
}
body{
    font-family: Alcubierre;
    /*background-color: azure;*/
    letter-spacing: 1.5px;
    font-size: 20px;
    font-weight: bold;
}
.tooted_nupp{
    text-align: center;
    background-color: rgb(171, 240, 240);
    cursor: pointer;
    padding: 15px 32px;
    margin: 4px 2px;
    color: rgb(18, 85, 90);
    font-weight: bolder;
    border-radius: 50px;
}