@font-face {
    font-family: Alcubierre;
    src: url(Alcubierre.otf);
}
h1{
    text-align: center;
}
.nupud{
    text-align: right;
}
button:hover{
    font-weight: bold;
    color: azure;
    text-decoration: underline;
    background: rgb(119, 190, 190);
    border: 2px dashed rgb(18, 85, 90);
}
body{
    font-family: Alcubierre;
    background-color: azure;
    background-size:cover;
}